<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal col-md-12" ng-submit="submitEvent(event)">

                <!---------------- STEP 1 ADD FRIENDS ---------------->

                <div class="form-group" ng-show="data.step == 1">
                    <h1 translate="new_playlist.header">Create new playlist</h1>
                    <p class="lead" translate="new_playlist.steps.step1">Step 1 Add friends</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input class="form-control" ng-model="data.newFriend" type="text" placeholder="{{ 'new_playlist.enter_nickname' | translate }}">
                                <span class="input-group-btn">
                                     <button class="btn btn-default" ng-click="searchFriend()">
                                         <span class="glyphicon glyphicon-search" />
                                     </button>
                                </span>
                            </div>
                            <div class="list-group">
                                <span class="list-group-item" ng-repeat="f in data.friends">{{f}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!---------------- STEP 2 CHOOSE ACTIVITY ---------------->

                <div class="form-group" ng-show="data.step == 2">
                    <h1 translate="new_playlist.header">Create new playlist</h1>
                    <p class="lead" translate="new_playlist.steps.step2">Step 2 Choose activity</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="list-group">
                                <button type="button" class="list-group-item">
                                    <span class="fa fa-bicycle"></span>
                                    <span translate="new_playlist.activity.training">Training</span>
                                </button>
                                <button type="button" class="list-group-item">
                                    <span class="fa fa-birthday-cake"></span>
                                    <span translate="new_playlist.activity.party">Party</span>
                                </button>
                                <button type="button" class="list-group-item">
                                    <span class="fa fa-tree"></span>
                                    <span translate="new_playlist.activity.hiking">Hiking</span>
                                </button>
                                <button type="button" class="list-group-item">
                                    <span class="fa fa-bed"></span>
                                    <span translate="new_playlist.activity.sleeping">Sleeping</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!---------------- STEP 3 SET PARAMETERS ---------------->

                <div class="form-group" ng-show="data.step == 3">
                    <h1 translate="new_playlist.header">Create new playlist</h1>
                    <p class="lead" translate="new_playlist.steps.step3">Step 3 Set parameters</p>
                    <div class="row">
                        <div class="col-md-5">
                            <span class="fa fa-bolt"></span>
                            <span translate="new_playlist.parameters.energy">Energy</span>
                            <input type="range">
                        </div>
                        <div class="col-md-5">
                            <span class="fa fa-music"></span>
                            <span translate="new_playlist.parameters.dancability">Dancability</span>
                            <input type="range">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <span class="fa fa-smile-o"></span>
                            <span translate="new_playlist.parameters.mood">Mood</span>
                            <input type="range">
                        </div>
                        <div class="col-md-5">
                            <span class="fa fa-fire-extinguisher"></span>
                            <span translate="new_playlist.parameters.hottness">Hottness</span>
                            <input type="range">
                        </div>
                    </div>
                </div>

                <!---------------- STEP 4 MUST-HEAR SONGS ---------------->

                <div class="form-group" ng-show="data.step == 4">
                    <h1 translate="new_playlist.header">Create new playlist</h1>
                    <p class="lead" translate="new_playlist.steps.step4">Step 4 Add must-hear songs</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input class="form-control" ng-model="data.newSong" type="text" placeholder="{{ 'new_playlist.enter' | translate }}"
                                       uib-typeahead="track.artists + ' - ' + track.name for track in searchSong($viewValue)" typeahead-loading="loadingTracks" typeahead-no-results="noResults">
                                <span class="input-group-btn">
                                     <button class="btn btn-default" ng-click="searchSong()">
                                         <span class="glyphicon glyphicon-plus" />
                                     </button>
                                </span>
                            </div>
                            <i ng-show="loadingTracks" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noResults">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>
                            <div class="list-group">
                                <span class="list-group-item" ng-repeat="t in data.songs track by $index">{{t.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <button class="btn btn-primary" ng-disabled="data.step == 1" ng-click="prevStep()" translate="new_playlist.buttons.prev">Previous</button>
            <button class="btn btn-primary" ng-show="data.step == 4" translate="new_playlist.buttons.generate">Generate</button>
            <button class="btn btn-primary" ng-click="nextStep()" ng-hide="data.step == 4" translate="new_playlist.buttons.next">Next</button>
        </div>
    </div>
</div>
